body {
  background: linear-gradient(last, #165E9E, #0AD1E3, #165E9E, #0AD1E3, #165E9E);
  background: -webkit-linear-gradient(left, #165E9E, #0AD1E3, #165E9E, #0AD1E3, #165E9E);
  background: -moz-linear-gradient(left, #165E9E, #0AD1E3);
  background: -o-linear-gradient(left, #165E9E, #0AD1E3);
}


#weather_data {
  width: 700px;
  height: 400px;
  text-align: center;
  margin: 50px Auto;
  color: #FFFFFF;
  font-family: arial;

}

#weather_data img {
  height: 100px;
  width: 100px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}

#weather_data h2 {
  display: inline-block;
  vertical-align: middle;
}

#weather_data p {
  font-weight: bold;
}

form {
  background-color: #202222;
  opacity: 0.8;
  width: 700px;
  height: 175px;
  margin: 0 auto;
  border-radius: 25px;
  color: #FFFFFF;
  padding-top: 25px;
}

form h2 {
  text-align: center;
  margin: 10px;
}

form input {
  margin: 10px auto;
  display: block;
}

#city {
  height: 45px;
  width: 355px;
  font-size: 16px;
  text-align: center;
}
#btn {
  height: 45px;
  width: 150px;
  border: 2px outset gray;
  border-radius: 10px;
}
