html{
  font-size: 1em;
}
.container{
  white-space: nowrap;
}
ul{
  padding-left: 0px;
}
li{
  list-style: none;
  background: #DDDDDD;
  display: inline;
  padding: 4px;
  border: 1px solid #BBBBBB;
}
.header{
  background: #DDDDDD;
  padding: 5px;
}
.column{
  display: inline-block;
  width: 25%;
  vertical-align: top;
  white-space: normal;
  padding: 0px 10px;
  box-sizing: border-box;
  font-size: .75em;
}
@media screen and (max-width: 730px){
  .nav{
    display: none;
  }
  .column{
    width: 33%;
  }
  .break{
    width: 100% !important;
    display: block;
  }
}
